body{
    background-image: url(../pictures/gruppenbild.jpg) ;
    background-color: rgba(185, 187, 35, 0.424);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-blend-mode: darken;
}
div{
    /* visibility: hidden; */
    margin-top: 10px;
    font-size: 150px;
    font-weight: bolder;
    color: rgb(75, 228, 4);
}